@Scripts.Render("~/bundles/jquery-ajax")
@{
    ViewBag.Title = "Pesquisar";
}

<h2>Pesquisar</h2>

<div class="row">
    @using (Ajax.BeginForm("PesquisarFarmacia", "Farmacia", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "pesquisa"
    }, new
    {
        @class = "form-inline",
    }))
    {

        <div class="form-group col-xs-12 col-sm-3">
            <label for="cpf">Fármacia</label>
            @Html.Editor("nome", new
       {
           htmlAttributes = new
           {
               @class = "form-control",
               @maxlength = "20",
           }
       })
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <label class="d-block hidden-xs">&nbsp;</label>
            <button id="btnPesquisar" type="submit" class="btn btn-primary m-left-15 xs-m-0 xs-width-full">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pesquisar
            </button>
        </div>


    }
</div>

<br />
<br />
<div id="pesquisa">
</div> <!-- Resultado da Pesquisa-->
